@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body { 
    @apply font-montserrat; 
}

.theme-transition {
    transition: background-color 0.5s, color 0.5s;
}

.slick-slide {
    height: auto !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

/* Slick Dots in Light Mode */
.slick-dots li button:before {
    color: black;
  }
  
  /* Slick Dots in Dark Mode */
.dark .slick-dots li button:before {
    color: white;
}
  